---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: system-ui, Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;


.quote-header {
    font-weight: 500;
}

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



.highlight-blue {
    background: #68A357;
}
.highlight-blue_background {
    background: #FF9F9E;
}
.highlight-brown {
    background: #EEC0C6;
}
.highlight-brown_background {
    background: #9BCDFF;
}
.highlight-gray {
    background: #0091AD;
}
.highlight-orange_background {
    background: #E2AFDE;
}
.highlight-purple {
    background: #FFF8BC;
}
.highlight-red_background {
    background: #DDE1CD;
}
.highlight-purple_background {
    background: #009fb7;
}
.highlight-teal {
    background: #FFC6A3;
}
.highlight-teal_background {
    background: #86E7B8;
}
.highlight-yellow {
    background: #CFBAE1;
}
.highlight-gray_background {
    background: #FFC6A3;
}
.highlight-yellow_background {
    background: #FF7381;
}

.rap-annotated {
    white-space: pre-wrap;
    margin-left: 30px;
    margin-bottom: 0px;
}

.rap-annotated-2 {
    white-space: pre-wrap;
}

.rap-author {
    margin-left: 50px;
    font-size: 0.8em;
    color: grey;
}




// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
