---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: system-ui, Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: white;
$background-color: #2E2E2E;
$brand-color: #b6bdff;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$on-palm: 600px;
$on-laptop: 800px;

.quote-header {
  font-weight: 500;
}

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.highlight-blue {
  background: #68a357;
}
.highlight-blue_background {
  background: #ff9f9e;
}
.highlight-brown {
  background: #eec0c6;
}
.highlight-brown_background {
  background: #9bcdff;
}
.highlight-gray {
  background: #0091ad;
}
.highlight-orange_background {
  background: #e2afde;
}
.highlight-purple {
  background: #fff8bc;
}
.highlight-red_background {
  background: #dde1cd;
}
.highlight-purple_background {
  background: #009fb7;
}
.highlight-teal {
  background: #ffc6a3;
}
.highlight-teal_background {
  background: #86e7b8;
}
.highlight-yellow {
  background: #cfbae1;
}
.highlight-gray_background {
  background: #ffc6a3;
}
.highlight-yellow_background {
  background: #ff7381;
}

.rap-annotated {
  white-space: pre-wrap;
  margin-left: 30px;
  margin-bottom: 0px;
}

.rap-annotated-2 {
  white-space: pre-wrap;
}

.rap-author {
  margin-left: 50px;
  font-size: 0.8em;
  color: grey;
}

// Tricky youtube wrapping: https://stackoverflow.com/questions/15844500/shrink-a-youtube-video-to-responsive-width
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center-pic {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}

.climate-title {
  display: flex;
  justify-content: center;
  font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 300;
}

.climate-subtitle {
  display: flex;
  justify-content: right;
  font-size: 14px;
  font-style: italic;
  color: #bbb;
}

.img-alt {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-style: italic;
  color: #bbb;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "syntax-highlighting";
